#display-box {
    -fx-background-color: #f9f9f9;
    -fx-alignment: center;
    -fx-font-size: 24;
}

#controls-grid {
    -fx-alignment: center;
}

#current-expression-box, #current-value-box{
    -fx-min-height: 80;
    -fx-alignment: bottom-right;
    -fx-padding : 10 10 10 10;
    -fx-background-color: rgb(51, 51, 51);
}

#current-expression-box{
    -fx-alignment: bottom-left;
}

#current-expression{
    -fx-min-width: 400;
    -fx-padding : 0;
    -fx-font-size: 28;
    -fx-prompt-text-fill: rgb(217, 217, 217);
    -fx-highlight-fill: rgb(26, 26, 26);
    -fx-text-fill: rgb(217, 217, 217);
    -fx-background-color: rgb(51, 51, 51);
    -fx-border-color: rgb(51, 51, 51);
}

#current-value {
    -fx-min-width: 400;
    -fx-font-size: 50;
    -fx-alignment: bottom-right;
    -fx-text-fill: rgb(217, 217, 217);
    -fx-background-color: rgb(51, 51, 51);
}

.button {
    -fx-font-size: 22;
    -fx-text-fill: rgb(217, 217, 217);
    -fx-min-width: 70;
    -fx-min-height: 70;
    -fx-max-width: 70;
    -fx-max-height: 70;
    -fx-border-width: 1;
    -fx-border-color: rgb(51, 51, 51);
    -fx-background-color: rgb(38, 38, 38);
}

.button:hover {
    -fx-background-color: rgb(26, 26, 26);
}

#add, #subtract, #multiply, #divide, #equals {
    -fx-background-color: rgb(64, 64, 64);
}

#add:hover, #subtract:hover, #multiply:hover, #divide:hover, #equals:hover {
    -fx-background-color: rgb(26, 26, 26);
}